@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.home {
  main {
    .banner {
      @extend %d-flex-center;
      width: 100%;
      .banner-content {
        h1 {
          color: var.$text-color-primary;
        }
        p {
          font-size: var.$font-size-medium;
        }
      }
    }
  }
}
