@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.home {
  .wrapper {
    @extend %d-flex-center;
    flex-wrap: wrap;
    .text-content {
      h1,
      h2 {
        color: var.$text-color-primary;
      }
    }
    .text-content,
    .login {
      width: 100%;
    }
    @include mix.tablet-styles {
      .text-content,
      .login {
        width: 50%;
      }
    }
  }
}
