@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.home {
  main {
    .banner {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .banner-content {
        h1 {
          color: var.$text-color-primary;
        }
        p {
          font-size: var.$font-size-medium;
        }
      }
    }
  }
}
