@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

nav {
  color: var.$text-color-primary;
  background-color: var.$background-color-secondary;
  padding: var.$gutter-base * 0.5 0;
  position: fixed;
  width: 100%;
  top: 0;
  .navbar-wrapper {
    @extend %wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      margin: 0;
      font-weight: var.$font-weight-bold;
    }
    .navbar-content-wrapper {
      button {
        &:not(:last-child) {
          margin-right: var.$gutter-base * 0.3;
        }
      }
    }
  }
}
